<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Dash!</title>
	<meta name="description" content="Some Amazon Dash Game!">
	<meta name="author" content="SitePoint">

	<link rel="stylesheet" href="css/style.css?v=1.0">

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="index.js"></script>
	<script src="js/jquery-3.1.0.min.js"></script>
</head>

<body>
	hi
	<%= dash_button %>
</body>
</html>