html,body {
	height:100%;
}

h2 {
	font-size:350px;
}

h3 {
	font-size:60px;
}

.container-fluid, .row, .col-md-6 {
    height:100%;
	min-height:100%;
}

.col-centered {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}